// creando colores
$azul :#0096d5;
$verde:#00a69c;
$gris:#808080;
// helpers
@mixin bordes($color) {
    border: solid 2px $color;
}

// importando fuente LatoMedium
@font-face {
    font-family: 'latoMedium';
    src: local('lato'), url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

// importando fuente LatoBlack
@font-face {
    font-family: 'latoBlack';
    src: local('lato'), url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

// importando fuente LatoRegular
@font-face {
    font-family: 'latoRegular';
    src: local('lato'), url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

// importando fuente CocoGhotic
@font-face {
    font-family: 'coco';
    src: local('coco'), url('../fonts/Coco Gothic Bold-trial.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Creando Mixins de Fuentes
@mixin letraMenu($miColor,
$tamano) {
    font: {
        family: 'latoMedium', sans-serif;
        size: $tamano;
        weight: normal;
    }
    color: $miColor;
}

@mixin miH1($miColor,
$tamano) {
    font: {
        family: 'coco', sans-serif;
        size: $tamano;
        weight: bolder;
    }
    color: $miColor;
}

@mixin miH2($miColor,
$tamano) {
    font: {
        family: 'latoBlack', sans-serif;
        size: $tamano;
        weight: normal;
    }
    color: $miColor;
}

@mixin miH3($miColor,
$tamano) {
    font: {
        family: 'latoRegular', sans-serif;
        size: $tamano;
        weight: normal;
    }
    color: $miColor;
}

@mixin mip($miColor,
$tamano) {
    font: {
        family: 'latoRegular', sans-serif;
        size: $tamano;
        weight: normal;
    }
    color: $miColor;
}

// estilos generales
body {
    background-color: white;
    font-size: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

#gradiente {
    width: 100%;
    background-color: $verde;
    opacity: 0.5;
}

// estilos menu
header {
    display: flex;
    flex-direction: column;
    background: url('../images/img_Header.png') no-repeat bottom center;
    background-size: cover;
    height: 110vh;
    #navbarNav {
        ul {
            li {
                a {
                    @include letraMenu($gris,
                    1rem);
                }
                a:hover {
                    animation-name: animacionMenu;
                    animation-duration: 1.5s;
                    animation-direction: alternate-reverse;
                    animation-timing-function: ease-in-out;
                }
            }
        } // animaciones header
        @keyframes animacionMenu {
            from {
                @include letraMenu($gris,
                1rem);
            }
            to {
                @include miH2($verde,
                2rem);
            }
        }
    }
    #bannerHeader {
        display: flex;
        margin-top: 29rem;
        .col-5 {
            h2 {
                @include miH2(white,
                1.2rem);
                text-align: left;
            }
            p {
                @include mip(white,
                1.2rem);
                margin-top: -0.5rem;
                text-align: left;
            }
        }
    }
}

// seccion Beneficios
#beneficios {
    h2 {
        @include miH2($verde,
        1.5rem);
    }
    h3 {
        @include miH3($verde,
        1.5rem);
    }
    article:first-child {
        margin-top: 1rem;
        .col-12 {
            display: flex;
            justify-content: center;
            h1 {
                @include miH1(white,
                1.75rem);
                padding: 0.5rem;
                border-radius: 4px;
                background: rgba(0, 149, 213, 1);
                background: -moz-linear-gradient(left, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 149, 213, 1)), color-stop(43%, rgba(74, 168, 147, 1)), color-stop(62%, rgba(106, 177, 118, 1)), color-stop(100%, rgba(106, 177, 118, 1)));
                background: -webkit-linear-gradient(left, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                background: -o-linear-gradient(left, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                background: -ms-linear-gradient(left, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                background: linear-gradient(to right, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095d5', endColorstr='#6ab176', GradientType=1);
            }
            h1:hover {
                animation-name: animacionTitulos;
                animation-duration: 500ms;
                animation-timing-function: ease-in-out;
            } // animaciones header
            @keyframes animacionTitulos {
                0% {
                    font-size: 3rem;
                }
                100% {}
            }
        }
    }
    article:nth-child(2) {
        margin-top: 1rem;
        .col-6 {
            display: flex;
            div {
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    article:nth-child(3) {
        margin-top: 1rem;
        .col-6 {
            display: flex;
            justify-content: flex-end;
            div {
                margin-right: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    article:nth-child(4) {
        margin-top: 1rem;
        .col-6 {
            display: flex;
            div {
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    article:nth-child(5) {
        margin-top: 1rem;
        .col-6 {
            display: flex;
            justify-content: flex-end;
            div {
                margin-right: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    } // seccion bannerCalendula
    #bannerCalendula {
        margin-top: -7rem;
    }
    article:nth-child(7) {
        margin-top: 1rem;
        div {
            p {
                @include mip($gris,
                1rem);
            }
        }
    } // seccion bannerEnfermedades
    #bannerEnfermedades {
        article {
            .col-6 {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    @include mip($gris,
                    1rem);
                    margin-top: 2rem;
                    text-align: center;
                }
            }
        }
    }
}

// seccion Modo de Uso
#modoDeUso {
    margin-top: 1rem;
    background: url('../images/img_bannerModoUso.png') no-repeat center center;
    background-size: cover;
    height: 80vh;
    article:first-child {
        padding-top: 2rem;
        .col-12 {
            display: flex;
            justify-content: center;
            h1 {
                @include miH1(white,
                1.75rem);
                padding: 0.5rem;
                border-radius: 4px;
                background: rgba(0, 149, 213, 1);
                background: -moz-linear-gradient(left, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 149, 213, 1)), color-stop(43%, rgba(74, 168, 147, 1)), color-stop(62%, rgba(106, 177, 118, 1)), color-stop(100%, rgba(106, 177, 118, 1)));
                background: -webkit-linear-gradient(left, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                background: -o-linear-gradient(left, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                background: -ms-linear-gradient(left, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                background: linear-gradient(to right, rgba(0, 149, 213, 1) 0%, rgba(74, 168, 147, 1) 43%, rgba(106, 177, 118, 1) 62%, rgba(106, 177, 118, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095d5', endColorstr='#6ab176', GradientType=1);
            }
            h1:hover {
                animation-name: animacionTitulos;
                animation-duration: 500ms;
                animation-timing-function: ease-in-out;
            } // animaciones header
            @keyframes animacionTitulos {
                0% {
                    font-size: 3rem;
                }
                100% {}
            }
        }
    }
    article:nth-child(2) {
        .col-6 {
            @include mip($gris,
            1rem);
            text-align: center;
            span {
                font-style: bold;
            }
        }
    }
    article:nth-child(3) {
        .col-8 {
            display: flex;
            justify-content: center;
            img {
                margin: 2rem 0rem 2rem 0rem;
            }
        }
    }
    article:nth-child(4) {
        .col-2 {
            @include mip($gris,
            1rem);
            margin-top: 1rem;
            p {
                font-weight: bolder;
                text-align: center;
            }
        }
    }
}

// bannerModo de uso diario
#bannerUsoDiario {
    margin-top: 1rem;
    .col-5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            @include miH2($verde,
            2rem);
        }
        h1 {
            @include miH1($verde,
            3rem);
            margin-top: -0.5rem;
        }
    }
}

//  Inicia Footer
footer {
    margin-top: -5rem;
    padding-top: 3rem;
    background: url('../images/img_Footer.png');
    .col-2:nth-child(2) {
        ul {
            li {
                @include mip(white,
                0.8rem);
                margin-bottom: 0.5rem;
            }
        }
    }
    .col-2:nth-child(3) {
        display: flex;
        align-items: center;
        h1 {
            @include miH1(white,
            2rem);
        }
    }
    .col-2:nth-child(4) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .col-4 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        i {
            font-size: 2rem;
            color: white;
        } // animaciones header
        @keyframes animacionSocial {
            0% {
                transform: scale(1, 1);
            }
            50% {
                transform: scale(1.5, 1.5);
            }
            100% {
                transform: scale(1, 1);
            }
        }
        a:hover {
            animation-name: animacionSocial;
            animation-duration: 2000ms;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
        }
    }
    .row:nth-child(2) {
        .col-4:nth-child(2) {
            display: flex;
            justify-content: center;
            border-top: solid 2px white;
            text-align: center;
            p {
                @include mip(white,
                1rem);
                margin: 2rem 0rem 2rem 0rem;
            }
        }
    }
}

// estilos boton Arriba
#botonArriba {
    opacity: 0;
    position: fixed;
    bottom: 3rem;
    i {
        color: $azul;
    }
}